header {
    margin: 0;
    padding: 0;
}

div {
    text-align: right;
}

button {
    /* padding: 8px 20px;
    margin-top: 10px;
    margin-right: 20px;
    background: red; */
}
button:hover {
    background-color: #0fb300;
}