# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log*

# IDEs and Editors
.idea/
.project
.classpath
.cproject
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Angular specific
.angular/cache
.angular/

# Testing
/coverage

# E2E (End-to-End) Testing
/e2e/*.js
/e2e/*.map

# Secrets and Environment Variables
# If you use dotenv or similar libraries, uncomment the line below:
# .env

# Miscellaneous
/.sass-cache
/connect.lock
/typings
