.meals-container {
  padding: 20px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive */
  gap: 20px;
}

.meal-card {
  margin-bottom: 10px;
  background-color: #f5f5f5; /* Un gri foarte deschis */
}

ul {
  padding-left: 20px;
  margin-top: 10px;
}