dialog {
  width: 380px;
  padding: 24px;
  border: none;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.full {
  width: 100%;
}

button {
  width: 100%;
  padding: 12px;
  background: #14c903;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #0fb300;
}
